
body{
	margin: 0;
	font-family: monospace;
	font-size: 20px;
	line-height: 30px;
}

header{
	background-color: royalblue;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

h1,h2,h3{
	font-family: monospace;
}

/*header styles*/
header h1{
	color: white;
	font-size: 30px;
}
	

header img{
 border-radius:50%;
 border: 10px solid white;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px ;

}

main img{ 
max-width: 100%;
 }

 h2{
 	font-size: 30px;
 	color: royalblue;
 	margin: 40px 0 10px;
 }
 h3{
 	font-size: 1om;
 	color: royalblue;
 }

a{
	color: teal;
}
a:hover{
	color: white;
	background-color: purple;
}

footer{
	background-color: royalblue;
	text-align: center;
	padding: 50px;
}
footer p{
	margin: 0;
}

p.caption{
	color: black;
	font-style: italic;
	font-weight: bold;
	margin-top: 0;
}

div.topnav {
	background-color: black;
	overflow: hidden;
	font-size: 20px;
    text-align: right;
    padding-top: 50px;
    padding-right: 25px;
    padding-bottom: 20px;
    word-spacing: 15px;
}

.topnav a { 
color: white;
text-decoration: none;
font-family: monospace;
 }

 div.about {
 	text-align: left;
  border: 5px solid royalblue;
  padding-left: 10px;
  margin: 10px;
  clear: both;
  display: table-cell;
  content: "";
  max-width: 100%;
}