div{
	font-family: sans-serif;
	font-size:  25px;
	text-align: center;
	padding-top: 50px;
	}

body{
	margin: 0;
	font-family: sans-serif;
	font-size: 20px;
	line-height: 30px;
}

header{
	background-color: royalblue;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1,h2{
	font-family: monospace;
}

/*header styles*/
header h1{
	color: white;
	font-size: 50px;
}
	

header img{
 border-radius:170px;
 width: 300px;
 border: 10px solid white;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px ;

}

main img{ 
max-width: 100%;
 }

 h2{
 	font-size: 30px;
 	color: royalblue;
 	margin: 40px 0 10px;
 }

a{
	color: teal;
}
a:hover{
	color: white;
	background-color: purple;
}

footer{
	background-color: royalblue;
	text-align: center;
	padding: 50px;
}
footer p{
	margin: 0;
}

p.caption{
	color: black;
	font-style: italic;
	font-weight: bold;
	margin-top: 0;
}

.topnav {
	background-color: black;
	overflow: hidden;
}

.topnav a { 
color: white;
 }

